In [2]:
#Первое задание:
#Есть пользователи (id, имя), которые ставят друг другу лайки. Сделать таблицы для хранения всей этой информации.

In [10]:
%pip install psycopg2

Requirement already satisfied: psycopg2 in c:\anaconda\anaconda3\lib\site-packages (2.9.4)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import psycopg2
from psycopg2 import Error
from psycopg2.extras import NamedTupleCursor
def execute_query(query, fetch_result=False):
    try:
        connection = psycopg2.connect(
                        database="postgres", 
                        user='postgres',
                        password='hfnfneq2', 
                        host='localhost', 
                        port='5432'
                    )
        
        connection.autocommit = True
        cursor = connection.cursor(cursor_factory=NamedTupleCursor)
        cursor.execute(query)
        if fetch_result:
            return cursor.fetchall()
    except (Exception, Error) as error:
        print("Error while connecting to PostgreSQL", error)
    finally:
        if (connection):
            cursor.close()
            connection.close()

In [12]:
import psycopg2 as pg_driver

db = pg_driver.connect(
                        database="postgres", 
                        user='postgres',
                        password='hfnfneq2', 
                        host='localhost', 
                        port='5432'
                    )



def execute_queries(db, sql_commands):
    db.autocommit = True
    with db.cursor() as cursor:
        for sql_command in sql_commands:
            print(sql_command)
            cursor.execute(sql_command)


sql_commands = ["DROP TABLE IF EXISTS users;",
                "DROP TABLE IF EXISTS likes;",
                """CREATE TABLE users (
                         user_id    INT       NOT NULL,
                         name    TEXT       NOT NULL,
                         created    TIMESTAMP NOT NULL
                );
                """,
                """CREATE TABLE likes (
                         user_id    INT       NOT NULL,
                         created    TIMESTAMP NOT NULL,
                         user_id_give    INT       NOT NULL
                  );
                """]


execute_queries(db, sql_commands)

DROP TABLE IF EXISTS users;
DROP TABLE IF EXISTS likes;
CREATE TABLE users (
                         user_id    INT       NOT NULL,
                         name    TEXT       NOT NULL,
                         created    TIMESTAMP NOT NULL
                );

CREATE TABLE likes (
                         user_id    INT       NOT NULL,
                         created    TIMESTAMP NOT NULL,
                         user_id_give    INT       NOT NULL
                  );

In [13]:
import psycopg2
from psycopg2 import Error
from psycopg2.extras import NamedTupleCursor

def execute_query(query, fetch_result=False):
    try:
        connection = pg_driver.connect(
                        database="postgres", 
                        user='postgres',
                        password='hfnfneq2', 
                        host='localhost', 
                        port='5432'
                    );
        
        connection.autocommit = True
        cursor = connection.cursor(cursor_factory=NamedTupleCursor)
        cursor.execute(query)
        if fetch_result:
            return cursor.fetchall()
    except (Exception, Error) as error:
        print("Error while connecting to PostgreSQL", error)
    finally:
        if (connection):
            cursor.close()
            connection.close()
row_count_hist = execute_query("select count(*) from users", fetch_result=True)
row_count_payment = execute_query("select count(*) from likes", fetch_result=True)

print(row_count_hist)
print(row_count_payment)

[Record(count=0)]
[Record(count=0)]

In [14]:
import psycopg2
from psycopg2 import Error
from psycopg2.extras import NamedTupleCursor

def execute_query(query, fetch_result=False):
    try:
        connection = pg_driver.connect(
                        database="postgres", 
                        user='postgres',
                        password='hfnfneq2', 
                        host='localhost', 
                        port='5432'
                    );
        
        connection.autocommit = True
        cursor = connection.cursor(cursor_factory=NamedTupleCursor)
        cursor.execute(query)
        if fetch_result:
            return cursor.fetchall()
    except (Exception, Error) as error:
        print("Error while connecting to PostgreSQL", error)
    finally:
        if (connection):
            cursor.close()
            connection.close()
row_count_hist = execute_query("select count(*) from users", fetch_result=True)
row_count_payment = execute_query("select count(*) from likes", fetch_result=True)

print(row_count_hist)
print(row_count_payment)

[Record(count=0)]
[Record(count=0)]

In [15]:
query = """ INSERT INTO users (user_id, created, name) 
            VALUES 
                 (1, to_timestamp('21-05-2021 12:35:11', 'dd-mm-yyyy hh24:mi:ss'), 'Petya'),
                 (2, to_timestamp('13-02-2013 13:35:11', 'dd-mm-yyyy hh24:mi:ss'), 'Dima'),
                 (3, to_timestamp('14-03-2002 05:35:11', 'dd-mm-yyyy hh24:mi:ss'), 'Kirill'),
                 (4, to_timestamp('15-05-2011 14:35:11', 'dd-mm-yyyy hh24:mi:ss'), 'Anna'),
                 (5, to_timestamp('28-08-2013 17:35:11', 'dd-mm-yyyy hh24:mi:ss'), 'Nick')
                 
            
        """

execute_query(query)

query = """ INSERT INTO likes (user_id, created, user_id_give) 
            VALUES 
                 (1, to_timestamp('21-05-2021 12:35:11', 'dd-mm-yyyy hh24:mi:ss'), 5),
                 (2, to_timestamp('13-02-2013 13:35:11', 'dd-mm-yyyy hh24:mi:ss'), 4),
                 (3, to_timestamp('14-03-2002 05:35:11', 'dd-mm-yyyy hh24:mi:ss'), 3),
                 (4, to_timestamp('15-05-2011 14:35:11', 'dd-mm-yyyy hh24:mi:ss'), 2),
                 (5, to_timestamp('28-08-2013 17:35:11', 'dd-mm-yyyy hh24:mi:ss'), 1)
                 
            
        """

execute_query(query)


     

query = """ INSERT INTO likes (user_id, created, user_id_give) 
            VALUES 
                 (1, to_timestamp('21-05-2021 12:35:11', 'dd-mm-yyyy hh24:mi:ss'), 4),
                 (1, to_timestamp('13-02-2013 13:35:11', 'dd-mm-yyyy hh24:mi:ss'), 5),
                 (2, to_timestamp('13-02-2013 13:35:11', 'dd-mm-yyyy hh24:mi:ss'), 5)
                 

                 
            
        """

execute_query(query)

In [16]:
query = """ INSERT INTO users (user_id, created, name) 
            VALUES 
                 (1, to_timestamp('21-05-2021 12:35:11', 'dd-mm-yyyy hh24:mi:ss'), 'Petya')
 
        """

execute_query(query)

query = """ INSERT INTO likes (user_id, created, user_id_give) 
            VALUES 
                 (1, to_timestamp('21-05-2021 12:35:11', 'dd-mm-yyyy hh24:mi:ss'), 4)
            
        """

execute_query(query)

In [17]:
#Далее запросы

In [18]:
query = '''
           select u.user_id,
                  u.name, 
                  count(l.user_id) as put_likes,
                  count(l.user_id_give) as given_likes 
            from users u
            left join likes l on u.user_id = l.user_id
            group by u.user_id, u.name
            
            '''
all_rows = execute_query(query, fetch_result=True)
for row, value in enumerate(all_rows):
    print(row, value)

0 Record(user_id=1, name='Petya', put_likes=8, given_likes=8)
1 Record(user_id=5, name='Nick', put_likes=1, given_likes=1)
2 Record(user_id=2, name='Dima', put_likes=2, given_likes=2)
3 Record(user_id=4, name='Anna', put_likes=1, given_likes=1)
4 Record(user_id=3, name='Kirill', put_likes=1, given_likes=1)

In [19]:
query = '''
           select u.user_id,
                  u.name, 
                  count(l.user_id_give) as mutual_likes 
            from users u
            left join likes l on u.user_id = l.user_id
            where u.user_id = l.user_id_give
            group by u.user_id, u.name
            
            '''
all_rows = execute_query(query, fetch_result=True)
for row, value in enumerate(all_rows):
    print(row, value)

0 Record(user_id=3, name='Kirill', mutual_likes=1)

In [20]:
query = '''
           select u.user_id,
                  u.name, 
                  count(l.user_id_give) as given_likes
            from users u
            left join likes l on u.user_id = l.user_id_give
            group by u.user_id, u.name
            order by given_likes desc
            limit 5;
            
            '''
all_rows = execute_query(query, fetch_result=True)
for row, value in enumerate(all_rows):
    print(row, value)

0 Record(user_id=5, name='Nick', given_likes=3)
1 Record(user_id=4, name='Anna', given_likes=3)
2 Record(user_id=1, name='Petya', given_likes=2)
3 Record(user_id=2, name='Dima', given_likes=1)
4 Record(user_id=3, name='Kirill', given_likes=1)

In [21]:
#Второе задание
#В воображаемой социальной сети есть Пользователи (id, имя), Фото (id, название, автор) и Комментарии К Фото (id, текст, автор, к какому Фото относится). Необходимо добавить возможность для Пользователей ставить лайки другим Пользователям, Фото или Комментариям к Фото.

In [22]:
import psycopg2 as pg_driver

db = pg_driver.connect(
                        database="postgres", 
                        user='postgres',
                        password='hfnfneq2', 
                        host='localhost', 
                        port='5432'
                    )



def execute_queries(db, sql_commands):
    db.autocommit = True
    with db.cursor() as cursor:
        for sql_command in sql_commands:
            print(sql_command)
            cursor.execute(sql_command)


sql_commands = ["DROP TABLE IF EXISTS users;",
                "DROP TABLE IF EXISTS likes;",
                "DROP TABLE IF EXISTS photos;",
                "DROP TABLE IF EXISTS comments;",
                "DROP TABLE IF EXISTS types",
                
              
                """CREATE TABLE users (
                         user_id    INT       NOT NULL,
                         name       TEXT       NOT NULL, 
                         type_id       TEXT NOT NULL
                    );
                """
                """CREATE TABLE photos (
                         photo_id    INT       NOT NULL,
                         title    TEXT NOT NULL,
                         user_id    INT       NOT NULL,
                         type_id TEXT NOT NULL
                  );
                """
               
                """CREATE TABLE comments (
                         comment_id INT       NOT NULL,
                         user_id    INT       NOT NULL,
                         comment    TEXT NOT NULL,
                         photo_id INT NOT NULL,
                         type_id INT NOT NULL
                  );
                """
                
                """CREATE TABLE types (
                         type_id    INT       NOT NULL,
                         type    TEXT NOT NULL
                  );
                """
               
                """CREATE TABLE likes (
                         user_id    INT       NOT NULL,
                         type_id    TEXT NOT NULL,
                         to_user_id INT NOT NULL,
                         to_photo_id INT NOT NULL,
                         comment_id INT NOT NULL
                  );
                """]

                

execute_queries(db, sql_commands)

DROP TABLE IF EXISTS users;
DROP TABLE IF EXISTS likes;
DROP TABLE IF EXISTS photos;
DROP TABLE IF EXISTS comments;
DROP TABLE IF EXISTS types
CREATE TABLE users (
                         user_id    INT       NOT NULL,
                         name       TEXT       NOT NULL,
                         type_id       TEXT NOT NULL
                    );
                CREATE TABLE photos (
                         photo_id    INT       NOT NULL,
                         title    TEXT NOT NULL,
                         user_id    INT       NOT NULL,
                         type_id TEXT NOT NULL
                  );
                CREATE TABLE comments (
                         comment_id INT       NOT NULL,
                         user_id    INT       NOT NULL,
                         comment    TEXT NOT NULL,
                         photo_id INT NOT NULL,
                         type_id INT NOT NULL
                  );
                CREATE TABLE types (
                         type_id    INT       NOT NULL,
                         type    TEXT NOT NULL
                  );
                CREATE TABLE likes (
                         user_id    INT       NOT NULL,
                         type_id    TEXT NOT NULL,
                         to_user_id INT NOT NULL,
                         to_photo_id INT NOT NULL,
                         comment_id INT NOT NULL
                  );

In [23]:
import psycopg2
from psycopg2 import Error
from psycopg2.extras import NamedTupleCursor

def execute_query(query, fetch_result=False):
    try:
        connection = psycopg2.connect(
                                database="postgres", 
                                user='postgres',
                                password='hfnfneq2', 
                                host='localhost', 
                                port='5432'
                     )
        connection.autocommit = True
        cursor = connection.cursor(cursor_factory=NamedTupleCursor)
        cursor.execute(query)
        if fetch_result:
            return cursor.fetchall()
    except (Exception, Error) as error:
        print("Error while connecting to PostgreSQL", error)
    finally:
        if (connection):
            cursor.close()
            connection.close()

In [24]:
import psycopg2
from psycopg2 import Error
from psycopg2.extras import NamedTupleCursor

def execute_query(query, fetch_result=False):
    try:
        connection = pg_driver.connect(
                        database="postgres", 
                        user='postgres',
                        password='hfnfneq2', 
                        host='localhost', 
                        port='5432'
                    );
        
        connection.autocommit = True
        cursor = connection.cursor(cursor_factory=NamedTupleCursor)
        cursor.execute(query)
        if fetch_result:
            return cursor.fetchall()
    except (Exception, Error) as error:
        print("Error while connecting to PostgreSQL", error)
    finally:
        if (connection):
            cursor.close()
            connection.close()
row_count_hist = execute_query("select count(*) from users", fetch_result=True)
row_count_payment = execute_query("select count(*) from likes", fetch_result=True)

print(row_count_hist)
print(row_count_payment)

[Record(count=0)]
[Record(count=0)]

In [25]:
query = """ INSERT INTO users (user_id, name, type_id) 
            VALUES 
                 (1, 'Katya', 101),
                 (2, 'Larisa', 101),
                 (3, 'Lena', 101),
                 (4, 'Nick', 101),
                 (5, 'Edward', 101), 
                 (6, 'Shawn', 101), 
                 (7, 'Liza', 101)
                 
            
        """
execute_query(query)

In [26]:
query = """ INSERT INTO photos (photo_id, title, user_id, type_id) 
            VALUES 
                 (21, 'IMG_1243.jpg', 1, 202),
                 (22, 'IMG_3421.jpg', 2, 202),
                 (23, 'IMG_1495.jpg', 3, 202),
                 (24, 'IMG_0923.jpg', 4, 202),
                 (25, 'IMG_5764.jpg', 5, 202)
                 
            
        """

execute_query(query)

In [27]:
query = """ INSERT INTO comments (comment_id, user_id, comment, photo_id, type_id) 
            VALUES 
                 (71, 1, 'Love it', 8, 303),
                 (72, 1, 'Where is it?', 9, 303),
                 (73, 7, 'OMG', 10, 303),
                 (74, 2, 'Beautiful!', 11, 303),
                 (75, 6, 'Love Norway!', 12, 303)
                 
            
        """
execute_query(query)

In [28]:
query = """ INSERT INTO types (type_id, type) 
            VALUES 
                 (101, 'user'),
                 (202, 'photo'),
                 (303, 'comment')
                 
            
        """
execute_query(query)

In [29]:
query = """ INSERT INTO likes (user_id, type_id, to_user_id, to_photo_id, comment_id) 
            VALUES 
                 (1, 202, 7, 21, 71),
                 (2, 101, 4, 25, 75),
                 (3, 303, 2, 24, 73),
                 (4, 101, 7, 21, 71),
                 (5, 202, 3, 21, 71)
                 
        """
execute_query(query)